body{
  background-color: antiquewhite;
}

ul{
  text-align: left;
}
nav ul {
    text-align: center;
}
nav a {
    border-style: dashed;
    border-width: 2px;
    background-color: aliceblue;
    padding: 8px;
}
